@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.rotation__header__square-pic,
.rotation__kaufman__triangle {
  animation: 20s rotate linear infinite;
}