@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.header__square-pic_rotation {
  animation: 20s rotation linear infinite;
}

.kaufman__triangle_rotation {
  animation: 20s rotation linear infinite;
}